.send{
    height: 40px;
    width: 1000px;
    background-color: burlywood;
    font-size: 20px;
    margin-left: 120px;
    text-align: center;
    margin-top: 10px;
}
.gifs{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    margin: 0 auto;
}
.gif img{
    max-width: 250px;
}